html,body,address,blockquote,div,
form,fieldset,caption,
h1,h2,h3,h4,h5,h6,
hr,ul,li,ol,ul,dl,dt,dd,
table,tr,td,th,p,img,iframe {
	/*
		Some HTML elements have predefined margins, paddings and borders so we want 
		to default them all to 0 in order to have mroe control over the way we display our page.
	*/
	margin:0;
	padding:0;
}

img, fieldset {
	border:none;
}

hr {
	/*
		display:none means the element wont be displayed. 
		We want to use those in order to seperate content and don't want to display them to the user.
	*/
	display:none;
}

@media (max-width:480px) {
	/*
		This is a fix for smaller screens to prevent automatic adjustments of our content.
	*/
	* {
		-webkit-text-size-adjust:none;
		-ms-text-size-adjust:none;
	}
}

html, body {
	/* 
		This section adjusts our page height to the full screen height of the user.
		It is used in order to adjust our content to the page height.
	*/
	height:100%;
}

body, button, input, select, table, textarea {
	/*
		This section defines the font we want to use to present our content.
	*/
	font:normal 100%/150% 'Roboto',sans-serif;
}

body {
	/*
		Define the page body as 100% minimum height.
	*/
	display:grid;
	grid-template-rows:auto 1fr;
}

ul {
	list-style: none;
}

ol {
	margin: 1.5em;
}

h1 {
	margin-top: 2em;
	margin-bottom: 1em;
	letter-spacing: 3px;
	font-size: 2.5em;
}

h2 {
	font-size: 0.8em;
	letter-spacing: 2px;
}

img {
	max-width: 100%;
}

p {
	margin-top: 1em;
	margin-bottom: 1em;
}

button {
	border: 0px solid white;
	border-radius: 3px;
	background-color: white;
	outline: none;
}

a {
	color: white;
	text-decoration: none;
	font-size: 17px;
}

#rDiv,
#aDiv,
#sDiv,
#eDiv {
	margin-right: auto;
	margin-left: auto;
	padding: 1em;
}

#sDiv {
	margin-top: -20px;
}

#aDiv {
	margin-bottom: +20px;
}

.postTemplate {
	margin-top: 3em;
	max-width: 47em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 2em;
	padding: 2em;
	letter-spacing: 1px;
}

.menu {
	display: block;
	width: 100%;
	text-align: center;
	background-color: black;
	position: fixed;
}

.logo {
	max-height: 2em;
	margin-top: 5px;
	border-bottom: 1px solid grey;
	border-radius: 1em;
	margin-left: auto;
	margin-right: auto;
}

.nextButton {
	border: 1px solid #f6f6f6;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1em;
	height: 2em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 3px;
	padding-bottom: 3px;
}

#home {
	display: flex;
	margin-top: 5em;
	transition: 0.4s;
}

.slogan {
	margin-top: 0px;
	font-size: 0.7em;
}

.footer {
	display: flex;
	background-color: black;
}

.footerItem {
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
	padding-bottom: 5px; 
}

.credentials {
	display: block;
	text-align: center;
	background-color: black;
	color: white;
}

@media (max-width: 729px) {
	h1 {
		margin-top: 0px;
		font-size: 2em;
	}

	#home {
		display: block;
	}
}